<div class="container post-content">
  <h1>Ultimas noticias</h1>


  <p id="notice"><%= notice %></p>
  <% if !@posts.empty? %>
    <% @posts.each do |post| %>
      <article>
        <h2><%= post.title %></h2>
        <p><%= post.content %>
        <%= link_to 'Mais', post %></p>
      <br/>
    </article>
  <% end %>
<% else%>
  <h2>Nenhuma noticia a ser exibida...</h2>
<% end %>
</div>
<br>
