<%= simple_form_for(@student,  html: { class: 'form-inline' }) do |f|%>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :rg %>
  <%= f.input :age, collection: 18..60 %>
  <%= f.input :birthdate, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, order: [:day,:month, :year] %>
  <%= f.submit 'enviar' %>
<% end %>
