<div class="row">
  <div class="col-md-2 col-xs-8">
    <div class="content-menu">
      <h3>DashBoard Admin</h3>


      <ul class="nav">
        <li>
          <%= link_to 'Gerenciar Escola', admin_schools_path %>
        </li>
        <li>
          <%= link_to 'Gerenciar Cursos', admin_courses_path %>
        </li>
        <li>
          <%= link_to 'Noticias', admin_posts_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
