<%= simple_form_for @lesson, url: admin_course_lessons_path do |l| %>
  <%= l.input :title, label: 'Titulo' %>
  <%= l.input :book_chapter, label: 'Capitulo do livro'%>
  <%= l.submit 'criar' %>
<% end %>
