page index para listar lições

<% @lessons.each do |lesson|%>
  <p>Lição:<%= lesson.title %> Capitulo: <%= lesson.book_chapter %>
  <%= link_to 'detalhes', admin_lesson_url(lesson) %></p>
<% end %>

</br>
<%= link_to 'nova lição', new_admin_course_lesson_path %>
