<nav class="navbar navbar-default" id="change-color">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'SysSchool', root_path, class: 'navbar-brand'%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="active"><%= link_to ' Home', root_path%></li>
        <!--
        <li><%= link_to 'About', static_pages_about_url%></li>
        <li>
          <%= link_to 'Contact', static_pages_contact_url %> 
        </li> 
        -->
        <li>
          <%= link_to 'Listar Cursos', courses_url %>
        </li>
        <li>
          <%= link_to 'Listar Escolas', schools_url %>
        </li>
        <li>
          <% if !current_user.nil? and current_user.is_admin? %>
            <%= link_to 'DashBoard', admin_dashboard_path %>
          <% end%>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_url, method: :delete %>
          <% else %>
            <%= link_to 'Login', new_user_session_url %>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
