<%= simple_form_for @school, url: admin_schools_url do |f| %>
  <% if @school.errors.any? %>
    <h2><%= pluralize(@school.errors.count, 'erro encontrado')%>:</h2>
    <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :pitch %>
  <%= f.input :subdomain %>
  <%= f.input :foundation, as: :date %>
  <%= f.submit 'enviar', class:'btn btn-success' %>
  <%= link_to 'voltar', admin_schools_path, class:'btn btn-default'%>
<% end %>
