<div class="container">
  <h1>this is a index page for admini school</h1>

  <% if !@schools.nil? %>
    <%= @schools.name %>
    <%= @schools.foundation %>
    <%= @schools.email %>
    <%= @schools.pitch %>
    <h2>Alunos Ativos: <%= active_students(@schools) %></h2>
    <br/>
    <%= link_to 'editar escola', edit_admin_school_url(@schools.id), class:'btn btn-primary' %>
  <% else %>
    <%= link_to 'Nova escola', new_admin_school_path, class:'btn btn-default' %>
  <% end %>

  <%= link_to 'voltar', admin_dashboard_path, class:'btn btn-default' %>
</div>

