<div class="container">
  <p class="alert"><%= alert %></p>
  <h1>The new school if schools do not exist for current user</h1>

  <%= render partial: 'form', locals: {button_label: 'Nova escola', school: @school} %>
  </br>
  <%= link_to 'voltar', admin_dashboard_path, class:"btn btn-primary" %>
</div>
