<div class="container">
  <table class="table table-striped" id="change-link-style">"
    <thead>
      <tr>
        <th>#</th>
        <th>Escola</th>
        <th>Detalhes</th>
        <th> Ações </th>
      </tr>
    </thead>
    <tr>
      <td><%= @school.name %></td>
      <td><%= @school.pitch %></td>
      <td><%= @school.email %>
      <td><%= @school.foundation %></td>
      <td><%= @school.subdomain %></td>
      <td><%= link_to 'Editar', edit_admin_school_path(@school)%>
    </tr>
  </table>
  <%= link_to 'voltar', admin_dashboard_path %>
</div>
