<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Published</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.published %></td>
        <td><%= link_to 'Show', admin_post_path(post) %></td>
        <td><%= link_to 'Edit', edit_admin_post_path(post) %></td>
        <td><%= link_to 'excluir', admin_post_path(post), method: :delete, 
          data: { confirm: 'Tem certeza que deseja excluir essa publicação?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Novo', new_admin_post_path %>
<br>
