<div class="container" id="form-login">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-8 col-md-offset-2">

            <%= render '/shared/flash_messages'%>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-horizontal', role:'form'})  do |f| %>
              <fieldset>
                <%= f.error_notification %>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, placeholder: 'E-mail', class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="form-group">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>

                <div class="form-group">
                  <%= f.submit "Log in", class: 'btn btn-info btn-block' %>
                </div>
              <% end %>
              <div class="form-group">
                <%= render "devise/shared/links" %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
