<h1>Escolas Cadastradas</h1>
<div class="search-field">
  <%= search_form_for @search do |f| %>
    <%= f.search_field :name_cont, placeholder: 'Pesquisar...' %>
    <%= f.submit %>
  <% end %>
</div>
<br/>

<table class="table table-striped" id="change-link-style">
  <thead>
    <tr>
      <th>#</th>
      <th>Escola</th>
      <th>Detalhes</th>
    </tr>
  </thead>
  <% @schools.each.with_index do |school, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= school.name %></td>
      <td>
        <%= link_to("Exibir", school) %>
      </td>
    </tr>
  <% end %>
</table>

