<h1><%= @school.name %></h1>

<%= search_form_for @search_course do |f|%>
  <%= f.search_field :name_cont, placeholder: 'Procurar Curso...'%>
  <%= f.submit 'Pesquisar' %>
<% end %>
<% if current_user.is_admin? %>
  <h2>Quandidade de Alunos ativos: <%= active_students(@school) %></h2>
<% end %>
<h2>Cursos disponiveis: </h2>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Duração</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
  </thead>
  <% @results.each.with_index do |course, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= course.name %></td>
      <td><%= course.duration %></td>
      <td><%= number_to_currency(course.price, unit: 'R$'  ) %></td>
      <td><%= link_to 'Mais', course_path(course) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'voltar', root_path %>

