<h1>Cursos Disponiveis</h1>
<div class="search-field">
  <%= search_form_for @c do |f|%>
    <%= f.search_field :name, placeholder: 'Pesquisar...' %>
    <%= f.submit %>
  <% end %>
</div>
<table class="table table-striped" id="change-link-style">
  <tr>
    <th>Nome</th>
    <th>Valor</th>
    <th>Duração</th>
    <th>Detalhes</th>
  </tr>
  <% @courses.each do |course|%>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.price %></td>
      <td><%= course.duration %></td>
      <td><%= link_to 'exibir', course_path(course) %>
    </tr>
  <% end %>
</table>
