<div class="info">
  <h1>Detalhes</h1>
  <p>Nome: <%= @course.name %> </p>
  <p>Preço: R$ <%= @course.price %></p>
  <p>Descrição: <%= @course.description %></p>
  <p>Duração: <%= @course.duration %></p>

  <% if !current_user.student.nil? %>
    <% if is_joined(@course) %>
      <%= link_to 'realizar matricula', join_course_path(@course.id), method: :post %>
    <% else %>
      Você ja esta matriculado neste curso!!<br/>
    <% end %>
  <% else %>
    <p class="alert">Antes de matricular-se finalize seu cadastro!
      <br /> <br/>
    <%= link_to 'Clicando Aqui',  new_student_path %></p>
  <% end %>
  <br />
  <%= link_to 'voltar', school_path(@course.school) %>
</div>
