/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: #E0FFFF;
}

h1, h2{
  color: darkgreen;
  font-weight: bold;
  margin: 25px 0px;
}

.content{
  margin-top: 15px;
}

#pos-right{
  float: right !important;
}

#form-login {
  margin-top: 7em;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  a{
    &:hover{
      text-color: yellow;
      background-color: transparent;
    }
  }
  h3{
    text-transform: uppercase;
  }
}

.post-content{
  border: solid;
  border-color: gray;
  background-color: #FFFDFF;
  border-radius: 10px;
  padding-left: 15px;
  h1{
   color: black;
   text-transform: capitalize;
   text-align: center;
   text-decoration: underline;
  }
}

#notice{
  font-size: 20px;
}
