// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info{
  p{
    font-size: 18px;
    font-weight: bold;
  }

}

.alert{
   color: red;
   font-weight: bold;
   a{
     color: red !important;
     &:hover{
       color: blue !important;
       background-color: transparent;
     }
   }
}
