.content-menu{
  margin-top: -41px;
  margin-right: -25px;
  margin-left: 1px;
  background-color: green;

  height: 900px;
  h3{
    text-align: center;
    padding-top: 5px;
    color: lightblue;
    font-weight: bold;
    text-transform: uppercase;
  }
  ul{
    li{
      a{
        color: white;
        font-size: 18px;
        margin-left: -25px;;
        &:hover{
          background-color: transparent;
        }
      }
    }
  }

}
