// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$BACKGROUND-LINK: blue;
$HOVER-COLOR: yellow;
$LINK-COLOR: blue;


#change-link-style{
  td{
    font-size: 15px;
    a{
      color: $LINK-COLOR;
      &:hover{
        background-color: $BACKGROUND-LINK;
        color: $HOVER-COLOR;
      }
    }
  }

}

.search-field{
  float: right;

  input[type=search]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus{
      border-color: green;
    }
  }

  input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
      background-color: #45a049;
    }
  }
}
