// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$PRIMARY-COLOR: darkgreen;

#change-color {
  background-color: $PRIMARY-COLOR;
      a{
        color: white;
        font-size: 16px;
        &:hover{
          color: yellow;
          background-color: darkblue;
        }
        &:visited{
          background-color: $PRIMARY-COLOR;
        }
      }
}

