<%= simple_form_for @course, url: admin_courses_path do |f| %>
  <% if @course.errors.any? %>
    <h2><%= pluralize(@course.errors.count, 'erro encontrado') %></h2>
    <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.input :name, label: 'Nome' %>
  <%= f.input :price, label: 'preço', as: :decimal %>
  <%= f.input :duration, label: 'duração' %>
  <%= f.input :description, label: 'descrição', as: :text%>
  <%= f.button :submit %>
<% end %>
