<div class="container">

  <h1>Admin Cursos</h1>

  <br/>

  <% if !@courses.empty? %>
    <table class="table table-striped">
      <tr>
        <th>Curso</th>
        <th>Ações</th>
      </tr>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= link_to 'ver', admin_course_url(course) %></td>
          <td><%= link_to 'editar', edit_admin_course_path(course) %></td>
          <td><%= link_to 'excluir', admin_course_path(course), method: :delete, 
            data: { confirm: 'Tem certeza?'} %></td>
        </tr>
      <% end %>

    </table>
  <% else %>
    <h2>Você não possui cursos cadastrados!!</h2>
  <% end %>
  <%= link_to 'Novo curso', new_admin_course_url, class:'btn btn-primary' %>

  <%= link_to 'voltar', admin_dashboard_path, class:'btn btn-default' %>
</div>
