<h1>Detalhes</h1>

<%= @course.name %>
<%= @course.duration %>
<%= @course.price %>
<%= @course.description %>

<%= link_to 'editar', edit_admin_course_path(@course) %>
<%= link_to 'excluir' %>

</br>
<%= link_to 'adicionar lições', admin_course_lessons_path(@course) %>
<%= link_to 'voltar', admin_courses_path %>
