<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render '/shared/navbar_top' %>

    <%= yield %>


    <%= render 'shared/footer'%>
  </body>
</html>
